/*p1*/

.logo img {
    display: block;
    width: 200px;
    height: auto;
    background-color: rgb(128, 168, 241);
    display: table;
}

.dropbtn {
    background-color: #26247e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #26247e;}

form.sbar::after{
  content: "";
  clear: both;
  display: table;
}
form.sbar input{
  float: right;
  padding: 2px;
}
form.sbar button{
  float: right;
  padding: 2px;
}
.clicks button{
  text-transform: uppercase;
  display: inline-block;
  color: aliceblue;
  padding: 10px;
}

#whole {
  background-color: #26247e;
  position: relative;

}


/*p2*/

.top{
    background-color: #272e31;
    margin-left: auto;
    margin-right: auto;
}

.topcon{
    line-height: 1.7142857143;
    display: block;
    padding-left: 25px;
    flex: 1 1 1 150px;
}

.col1{
    color: rgba(255, 255, 255, .6);
    padding-left: 15px;
    padding-right: 15px;
}
.col2{
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1;
}
.col3{
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    
}
.col4{
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}

.bottom{
    background-color:black;
    color: #fff;
}

/*p3*/
.logo img{
    width: 15%;
    height: auto;
    display: block;
}

.bg img{
    height: 100px;
    width: 100%;
    object-fit:fill;
}

.bg .apply{
    position: absolute;
    display: block;
    left: 90%;
    padding: 10px 20px;
    top: 14%;
}

table {
    border-collapse: separate;
    border-spacing: 80px 0;
    
}

td{
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 9px #aaaaaa;
    box-sizing: border-box;
    width: 30cm;
}
td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;
}

h3{
    text-transform: uppercase;
}

h5{
    float: right;
}

ul li{
    display: inline;
    background-color: aqua;
    border: 10cm;
    margin: 6px;
}


/*p4*/
.h img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
h1{
    position:absolute;
    right: 100px;
    top: 220px;
    color: aliceblue;
    font-size: 40px;
}
.btn button{
    table-layout: fixed;
    width: 220px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(109, 107, 107);
}

.btn{
    background-color: rgb(230, 230, 230);;
}

.cont1{
    margin: 40px;
    padding: 10px;
    width: 1100px;
    height: auto;
    background-color: white;
    box-shadow: 1px 1px 9px #aaaaaa;
    border-radius: 10px;
    float: left;
}

.cont2{
    background-color:#aaaaaa;
    box-shadow: 1px 1px 9px #aaaaaa;
    margin: 40px;
    padding: 10px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    float: left;
}

h2{
    text-transform: uppercase;
    color: green;
}

.cont3{
    background-color: white;
    box-shadow: 1px 1px 9px #aaaaaa;
    margin: 40px;
    padding: 10px;
    width: 1100px;
    height: auto;
    border-radius: 10px;
    float: left;
}
.cont4{
    background-color:white;
    box-shadow: 1px 1px 9px #aaaaaa;
    margin: 40px;
    padding: 10px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    float: left;
}
